__pycache__/CheckerAI.cpython-312.pyc
__pycache__/CheckerGame.cpython-312.pyc
__pycache__/constants.cpython-312.pyc
__pycache__/Transition.cpython-312.pyc
.cph/.CheckerAI.py_6eaa255c17197d0cafff949d18fc38d7.prob
TestQTable.npy
QTable.npy
